.header {
  position: sticky;
  top: 0;
  z-index: 10;
}

.headings {
  box-sizing: content-box;
  padding: 8px 16px calc(8px * 0.666) 16px;
  border-radius: 4px;
  background: color-mix(in oklch, var(--color-primary-main) 85%, transparent);
  backdrop-filter: blur(20px);
}
